Specify AA bit

Probably worth mentioning it is the same as before.

RFC 7719:
   Authoritative server:  "A server that knows the content of a DNS zone
      from local knowledge, and thus can answer queries about that zone
      without needing to query other servers."  (Quoted from [RFC2182],
      Section 2.)  It is a system that responds to DNS queries with
      information about zones for which it has been configured to answer
      with the AA flag in the response header set to 1.  It is a server
      that has authority over one or more DNS zones.  Note that it is
      possible for an authoritative server to respond to a query without
      the parent zone delegating authority to that server.
      **Authoritative servers also provide "referrals", usually to child
      zones delegated from them; these referrals have the AA bit set to
      0 and come with referral data in the Authority and (if needed) the
      Additional sections.**

RFC9499:
A response that has only a referral contains an empty Answer section. It contains the NS RRset for the referred-to zone in the Authority section. It may contain RRs that provide addresses in the Additional section. The AA bit is clear.

See #138 